.Featured{
  background-color: var(--primaryColor);
  text-transform: capitalize;
  padding: 2rem;
}

.FeaturedContainer{
  width: 70%;
  margin: auto;
  padding: 3rem;
  padding-top: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
  align-content: center;
}

@media screen and (max-width: 800px) {
  .FeaturedContainer{
    width: 90%;
    padding: 1rem;
  }

}


